body {
  max-width: 1170px;
  -webkit-text-size-adjust: 100%;
}

p {
  /* font-family: "RocknRoll One", sans-serif; */
  font-size: 25px;
}

.tex {
  font-family: "RocknRoll One", sans-serif;
  font-size: 25px;
}

.num {
  font-size: 50px;
}

.nowtimew {
  padding: 40px 0;
}

.nowtime {
  font-size: 14px;
}
